<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <p>{{content}}</p>
        <ul class="experience">
            {{#each experience}}
            <li>{{position}} {{start}} - {{end}}</li>
            {{/each}}
        </ul>
        
    </body>
</html>